<% content_for :body do %>
<style>
</style>
<div class="container-fluid">
  <div class="row">
	<div class="jumbotron col-sm-9 text" style="margin-top:20px;">
	  <h1 class="display-4">Nestlyとは</h1>
	  <hr class="my-4">
	  <h2>背景</h2>
	  <p>
		コミュニティやサークルを作る時、情報の共有や連絡手段をどうするかというのは大きな問題です。
		また、「活動拠点」をどうするかというのも難しい問題です。
	  </p>
	  <p>
		ネットのない時代であれば、「機関誌」等を発行したり、電話等で「連絡網」を作ったりしたものです。
	  </p>
	  <p>
		現代はネットがありますから、実際の活動フィールドとは別にネット上に活動拠点を持つ場合、最初はSNS等を基盤として運営をすることを考えると思います。
	  </p>
	  <p>
		ところが、そういったもので運営していると、案外使い勝手が良くないことに気がつきます。
		従来のSNS等は、<b>活動拠点にするものとしては作られていない</b>のですから、当然のことです。
	  </p>
	  <p>
		また、SNS等を使う場合、そのSNS等に参加していなければ最初から利用できません。現在のSNS等はそのために参加するにしては、あまりにわずらわしいものでしかありません。
	  </p>
	  <hr class="my-4">
	  <h2>機能の概要</h2>
	  <p>
		Nestlyは<b>コミュニティーやサークルの活動拠点となるサービス</b>として作られました。
	  </p>
	  <p>
		そのために、まずは以下のような機能を揃えました。
	  </p>
	  <dl>
		<dt>コミュニケーションを取る</dt>
		<dd>
		  メーリングリストに連動した掲示板を用意しました。直接掲示板に書込むことも、メーリングリストとして運用することもできます。
		</dd>
		<dt>情報を共有する</dt>
		<dd>
		  掲示板は画像やファイルの置き場にもなります。掲示板なので、そのまま議論をすることもできます。
		</dd>
		<dt>情報をまとめる</dt>
		<dd>
		  掲示板に情報をまとめる機能を用意しました。今後さらに文章以外のものもまとめる機能を追加してゆく予定です。
		</dd>
	  </dl>
	  <p>
		一方、SNS等にあってコミュニティーやサークルを運用するサービスに必要性の低い機能は積極的に排除しました。
		たとえば、「個人対個人」のコミュニケーションのための機能は用意していません。
		ネットを通じてソーシャルを構築するような機能は持っていません。
		これらはネット上でコミュニケーションそのものを楽しむには必要であっても、過度に人間関係のわずらわしさを助長する傾向、いわゆる「ソーシャル疲れ」の原因となるものです。Nestlyにはこのための機能はありません。
	  </p>
	  <p>
		ですから、そういったものが必要なら他のサービスを使うことをお勧めします。
	  </p>
	  <hr class="my-4">
	  <h2>オープンソース</h2>
	  <p>
		Nestlyのシステムは、バックヤードシステムを除いてオープンソースです。
		また、現在提供しているサービスとリリースされているソースコードは原則的に一致しています<a href="#note-1">[1]</a>。
	  </p>
	  <p>
		ですから、この公開されているソースを使って自分でサービスを立ち上げることも可能です。自組織で運用したいと考えられる方は、どしどし自組織で運用して下さい。
	  </p>
	  <p>
		本サービスをオープンソースにすることは、アカウンタビリティの確保のためと同時に、万一弊社がサービスを継続出来なくなった場合に、サービスが全く使えなくなることを回避するための手段です。
	  </p>
	  <p>
		遠くない将来、データを移行するための機能も用意する予定です。
	  </p>
	  <p>
		ソースコードは<a href="https://github.com/waspcojp/nestly.git">github</a>にあります。ライセンスは<a href="https://www.gnu.org/licenses/agpl-3.0.html">AGPL 3.0</a>です。
	  </p>
	  <p>
		インストールガイド等は現在執筆中です。
	  </p>
	  <hr class="my-2">
	  <ol>
		<li id="note-1">
		  バックヤードシステムについては、営業的経営的判断を含むものなので、公開の予定はありません。だたし、その処理によって実現される動作については、サービスシステムのコードの含まれています。バックヤードシステムではそのためのフラグやデータを操作する、あるいは直接サービスシステムに影響を与えない処理を行うだけです。
		</li>
	  </ol>
	</div>
  </div>
</div>
<% end %>
