<% content_for :body do %>
<style>
</style>
<div class="container-fluid">
  <div class="row">
	<div class="jumbotron col-sm-9 text" style="margin-top:20px;">
	  <h1 class="display-4">ネストの運用のしかた</h1>
	  <p>
		ここではネストの運用のしかたについて説明します。
	  <p>
		以下の項目は「ネストを自分で作って運用したい」人のための開設です。
		一般の参加者はこの辺のことを知る必要はありません。
	  </p>
	  <hr class="my-4">
	  <h2>公開ネストに参加する</h2>
	  <p>
		画面の一番上にある「ネスト」をクリックすると、ネストについての機能が使えるようになります。
	  </p>
	  <p>
		ここで「参加可能なネスト」の一覧を見ると、「登録制」あるいは「承認制」のネストの一覧が表示されます。
		「登録制」とは誰でも自由に参加できること、「承認制」は参加リクエストが承認されれば参加できます。
		「招待制」のネストは招待がないと参加できませんので、この一覧には出て来ません。
	  </p>
	  <p>
		一覧にあるネストをクリックすると、ネストの概要や非メンバーでも見ることのできるコンテンツを閲覧することができます。
		そこで興味を感じたら、「参加」あるいは「参加リクエスト」を出してみましょう。
	  </p>
	  <h2>ネストを作成する</h2>
	  <p>
		ネストの一覧を表示するリンクの最後に、「<%= link_to "ネストの作成", new_nest_path%>」があります。
		これをクリックすると、ネストの作成画面になります。
		ネストの新規作成は会員なら誰でもできます。
	  </p>
	  <p>
		設定で重要なのは、<b>権限</b>の設定です。
		特に<b>公開範囲</b>と<b>参加方法</b>には注意をして下さい。
		Nestlyのデフォルトは、<b>うっかりそのままにしても致命的な問題が起きない</b>ようになっていますが、
		これは他の人にとっては「ないのと同じ」状態となります。
		この設定は後でいくらでも変えられますので、注意は必要ですが神経質になる程ではありません。
	  </p>
	  <p>
		基本的に、リアルなサークルやコミュニティのためのネストであれば、
		<b>公開範囲</b>は「参加者のみ」で、<b>参加方法</b>はいずれかの「招待」にしておくのが無難だと思います。
		これはイメージとしては「身内だけに」「声をかける」という感じになります。
	  </p>
	  <h2>スペースを作成する</h2>
	  <p>
		ネストを作ったら、スペースを作成します。
		「<%= link_to "新しいスペース", '' %>」をクリックするとスペースの作成画面になります。
		スペースの新規作成はネストの作成の時に設定した人が可能です。
	  </p>
	  <p>
		スペースはネストの活動のための「場」ですが、まず最初は「なんでも掲示板」的なものを1つ作ってみるのが良いと思います。
	  </p>
	  <p>
		スペースには設定する項目が多くてビビると思いますが、多くは自明なものです。
		デフォルトはネストの場合と同じように<b>うっかりそのままにしても致命的な問題が起きない</b>ようになっていますが、
		これは他の人にとっては「ないのと同じ」状態となります。
		この設定は後でいくらでも変えられますので、注意は必要ですが神経質になる程ではありません。
	  </p>
	</div>
  </div>
</div>
<% end %>
