<% content_for :body do %>
<style>
</style>
<div class="container-fluid">
  <div class="row">
	<div class="jumbotron col-sm-9 text" style="margin-top:20px;">
	  <h1 class="display-4">Nestlyの参加のしかた</h1>
	  <p>
		ここではNestlyに参加する意味と参加のしかたについて説明します。
	  </p>
	  <hr class="my-4">
	  <h2>メーリングリストとして参加する</h2>
	  <p>
		あなたがNestlyについて何も知らなくても、Nestlyからメーリングリストのメールとして、メールが届くことがあると思います。
		これは、誰かがあなたにメールを送るように指示したためです<a href="#note-1">[1]</a>。
	  </p>
	  <p>
		メールが届いた場合は、そのままメーリングリストとして使うことができます。この時、メールの差出人(Fromフィールド)はメールの送られて来たアドレスと同じにして下さい。送ったメールは、Nestlyによって参加者に配信されます。
	  </p>
	  <p>
		メールの本文の後にはNestlyへの招待状等がついている場合があります。会員になりたい場合は、そこに示されているURLにアクセスして下さい。一般のメーラでは、ワンクリックでアクセスできると思います。
	  </p>
	  <hr class="my-4">
	  <h2>会員になる</h2>
	  <% if ( Settings.service[:invite_only] ) %>
		<p>
		  現在のNestlyは完全招待制です。会員になるためには、誰か既に会員となった人に招待してもらう必要があります。
		</p>
		<p>
		  「招待」は「ネストへの参加」の招待になります。送られたメールに示されたURLにアクセスすると、会員になることができます。
		</p>
	  <% else %>
		<p>
		  Nestlyは誰でも会員になることができます。
		  会員になるには、<%= link_to I18n.t("users.new"), new_user_path %>をクリックします。
		</p>
		<p>
		  必要事項を入力すれば、ただちに会員になることができます。
		</p>
	  <% end %>
	  <p>
		会員になるために必要な情報は、
	  </p>
	  <ul>
		<li>ユーザ名</li>
		<li>パスワード</li>
		<li>ユーザ表示名</li>
		<li>メールアドレス(最低1つ)</li>
	  </ul>
	  <p>
		メールアドレス以外のいわゆる「個人情報」は必要ありませんし、システムは収集しません。
	  </p>
	  <p>
		一度会員なると、以下のことが可能になります。
	  </p>
	  <ul>
		<li>通知用のメールアドレスの変更や追加</li>
		<li>参加しているネストでの活動</li>
		<li>公開されている他のネストへの参加</li>
		<li>ネストの新規の作成</li>
	  </ul>
	  <p>
		つまり、Nestlyの基本機能は全て使えるようになります。
	  </p>
	  <p>
		Nestlyの会員になると、自動的に「メンバー用」というネストに参加します。
		ここは運営からのお知らせの他に、自由に書けるサンドボックスでもあります。
	  </p>
	  <p>
		会員になった時に登録したメールアドレスは、そのアドレスにメールが届くことを確認する「認証」を経てから有効になります。
	  </p>
	  <hr class="my-4">
	  <h2>招待状が届いた場合</h2>
	  <p>
		ネストから参加の招待状が届く場合があります。招待状に書かれているURLにアクセスすると、ネストに参加することができます。
		つまり、自分に届かないメールアドレスを登録することはできません。
	  </p>
	  <h3>Nestlyの会員でなくて招待状が届いた場合</h3>
	  <p>
		Nestlyの会員でない人に招待状が届いた場合、招待状に書かれているURLにアクセスすると、まず会員登録することが促されます。
	  </p>
	  <p>
		ここで会員登録したくない、あるいはネストに参加したくない場合は<b>辞退</b>をクリックします。
		招待状や招待者そのものに心あたりがない場合は<b>拒否</b>をクリックします。
		<b>辞退</b>も<b>拒否</b>のいずれも参加しない点では同じですが、<b>拒否</b>の場合はその旨記録されます。
		また、<b>拒否</b>した場合は同じネストから招待状が送られて来ることはありません。
	  </p>
	  <h3>既にNestlyの会員で招待状が届いた場合</h3>
	  <p>
		Nestlyの招待状は、「メールアドレス」に対して送られます。
		ですから、既にNestlyの会員になっていても、ネストへの招待はメールとして届きます。
		招待状を受け取った後にすることは、非会員の場合と同じです。
	  </p>
	  <p>
		既に登録しているメールアドレスでないメールアドレスに届いた招待状で<b>参加</b>すると、アカウントにそのメールアドレスが追加されます。
		このメールアドレスはそのアドレスにメールが届くことが確認できているということで、「認証」済みとなります。
	  </p>
	  <p>
		もし、新たに別のアカウントで会員登録したい場合、一度ログアウトして下さい。
		そうすれば、既に登録したアカウントとは別の会員として登録されます。
		Nestly他人が閲覧するためのプロフィールページは持ちませんから、「誰がどのネストに参加しているか」を直接知る方法はありません。
		それでも何らかの理由でカウントを分けたい場合、自由にアカウントを作って構いません。
		ただし、システムで特別に配慮することもありませんので、それによって起きる不都合があった場合、運営は一切の保証や責任は負いませんので、御注意下さい。
	  </p>
	  <hr class="my-2">
	  <ol>
		<li id="note-1">
		  現在のところNestlyから非参加者に直接メールを送る機能は、<b>特別な機能</b>となっています(具体的には有料機能)。
		  これは、Nestlyを迷惑メール送信システムとして利用されないためです。
		</li>
	  </ol>

	</div>
  </div>
</div>
<% end %>
