<% content_for :body do %>
<style>
</style>
<div class="container-fluid">
  <div class="row">
	<div class="jumbotron col-sm-8 text" style="margin-top:20px;">
	  <h1 class="display-4">Nestly</h1>
	  <p class="lead">Nestlyは、コミュニティやサークルの運営をサポートするサービスです。</p>
	  <hr class="my-4">
	  <p>
	  </p>
	</div>
  </div>
</div>
<% end %>
