<% content_for :body do %>
<style>
p {
	text-indent: 1em;
}
dd {
	text-indent: 1em;
	margin-left: 20px;
}
dt {
	margin: 10px 0;
}
h2 {
	font-size: 22px;
	font-weight: bold;
}
</style>
<div class="container-fluid">
  <div class="row">
	<div class="jumbotron col-sm-8" style="margin-top:20px;">
	  <h1 class="display-4">Nestly</h1>
	  <p class="lead">Nestlyは、コミュニティやサークルの運営をサポートするサービスです。</p>
	  <hr class="my-4">
	  <p>
		コミュニティーやサークルといったものを運営する時に、「連絡手段」というのは案外難しい課題です。
	  </p>
	  <p>
		最初はMLやSNSを使って運営をすることを考えると思います。ところが、そういったもので運営していると、案外使い勝手が良くないことに気がつきます。
		従来のMLやSNSは、そういったことのツールとして使うことは出来ても、基盤にするものとしては作られていないのですから、当然のことです。
	  </p>
	  <p>
		Nestlyはコミュニティーやサークルの運営をサポートするための以下のような機能を揃えました。
	  </p>
	  <dl>
		<dt>コミュニケーションを取る</dt>
		<dd>
		  メーリングリストに連動した掲示板を用意しました。直接掲示板に書込むことも、メーリングリストとして運用することもできます。
		</dd>
		<dt>情報を共有する</dt>
		<dd>
		  掲示板は画像やファイルの置き場にもなります。掲示板なので、そのまま議論をすることもできます。
		</dd>
		<dt>情報をまとめる</dt>
		<dd>
		  掲示板に情報をまとめる機能を用意しました。文章以外のものもまとめる機能を追加してゆく予定です。
		</dd>
	  </dl>
	  <p>
		一方、コミュニティーやサークルを運用するサービスに直接的プラスの効果のない、「個人対個人」のための機能は用意していません。
		必要なら他のサービスを使うことをお勧めします。
	  </p>
	  <hr class="my-4">
	  <h2>オープンソース</h2>
	  <p>
		Nestlyのシステムは、バックヤード機能を除いてオープンソースです。
		また、現在提供しているサービスとリリースされているソースコードは一致しています。
	  </p>
	</div>
  </div>
</div>
<% end %>
