<% content_for :body do %>
<style>
</style>
<div class="container-fluid">
  <div class="row">
	<div class="jumbotron col-sm-8 text" style="margin-top:20px;">
	  <h1 class="display-4">Nestly</h1>
	  <p class="lead">Nestlyは、コミュニティやサークルの運営をサポートするサービスです。</p>
	  <hr class="my-4">
	  <p>
		Nestlyは会員制のコミュニティーやサークルを運営するのに必要な、
	  </p>
	  <ul>
		<li>連絡手段の提供</li>
		<li>会員相互の交流</li>
		<li>文書等の配布や保存</li>
	  </ul>
	  <p>
		等を提供することを目的としたサービスです。
	  </p>
	  <hr class="my-4">
	  <p>
		より詳しい説明は、「<%= link_to  I18n.t('footer.about'), about_path %>」をごらん下さい。
	  </p>
	</div>
  </div>
</div>
<% end %>
