<% content_for :body do %>
<div class="container-fluid">
  <div class="row">
	<div class="jumbotron col-sm-9 text" style="margin-top:20px;">
	  <h1>プライバシーポリシー</h1>
	  <hr class="my-4">
	  <p>
		本プライバシーポリシーは、本サービスに関して利用者(データ提供者)が提供するパーソナルデータ（個人情報保護法上の個人情報に限らず、利用者に関する情報を広く指します）の当社における取扱いについて定めます。
	  </p>
	  <ol>
		<li>利用者情報
		  <ul>
			<li>定義
			  <p>
				利用者情報とは、利用者が本サービスに登録する際に入力する情報(E-mailアドレス、ユーザ名、パスワード)およびクッキー等をいう。
			  </p>
			  <p>
				取得者：当社
			  </p>
			</li>
			<li>利用目的
			  <p>
				システムにおける利用者の識別
			  </p>
			</li>
			<li>第三者提供
			  <p>
				第三者への提供は、<b>利用者本人</b>が必要と認めた場合にのみ行われる。
			  </p>
			  <p>
				ただし、捜査機関等から正当な手続きを経て開示を要求された場合は、この限りではない。
			  </p>
			</li>
		  </ul>
		</li>
		<li>データ
		  <ul>
			<li>定義
			  <p>
				データとは、利用者が直接あるいは間接的に当サービスに入力したもののうち、利用者情報以外のものを言う。
			  </p>
			  <p>
				たとえば、ネストに書き込む情報は、利用者自身が入力したものであっても、利用者の用意したソフトウェア等が入力したものも、平等に「データ」として扱われる。
			  </p>
			</li>
			<li>公開
			  <p>
				データは、利用者本人の意思によって、公開状態を設定することが出来る。
			  </p>
			  <p>
				非公開状態にあるデータについては、以下の場合を除き、利用者本人および利用者の許諾した者以外の者には閲覧させない
			  </p>
			  <ul>
				<li>利用者本人が、特に許可した第三者に閲覧させる場合</li>
				<li>当社及び当社と契約をした者が、システムの運用上に問題が発生した場合の対応等を行う場合</li>
				<li>捜査機関等から、正当な手続きを経て開示が要求された場合</li>
			  </ul>
			</li>
		  </ul>
		</li>
		<li>管轄
		  <p>
			本規約は、日本法に基づき解釈されるものとし、本規約に関して訴訟の必要が生じた場合には、東京地方裁判所を第一審の専属的合意管轄裁判所とします。
		  </p>
		</li>
	  </ol>
	  <dl>
		<dt>制定</dt>
		<dd>2020年8月15日</dd>
		<dt>許諾者</dt>
		<dd>
		  <ul class="list" style="padding-inline-start:0px;">
			<li>東京都台東区台東2-31-8 ビクトリービル 6F</li>
			<li>WASP株式会社</li>
			<li>代表取締役 生越昌己</li>
		  </ul>
		</dd>
	  </dl>
	</div>
  </div>
</div>
<% end %>
