<% content_for :body do %>
<div class="container-fluid">
  <div class="row">
	<div class="jumbotron col-sm-9 text" style="margin-top:20px;">
	  <h1>サービス利用規約</h1>
	  <hr class="my-4">
      <h2>第1条　定義</h2>
      <p>
        本規約は、WASP株式会社（以下「当社」といいます）が提供するサービス「Folloger」(以下「本サービス」といいます)ならびに本サービスにアップロード、ダウンロードまたは表示されるデータやアレンジされたデータにアクセスし、利用する場合に適用されます。本サービスを利用することによって、「利用者」は本規約に拘束されることに同意したことになります。
      </p>
      <h2>第2条 本サービスを利用できる人</h2>
      <p>
        本サービスを利用できるのは、当社と拘束力のある契約を締結することに同意し、適用のある法域の法律によりサービスを受けることが禁止されていない者に限ります。利用者が、特定の企業、組織、政府、その他の法人のために本規約を受け入れ、本サービスを利用する場合、そのような権限を有していることを表明し保証するものとします。
      </p>
      <p>
        利用者(未成年者の方につきましては、当社が定める方法により、親権者他の法定代理人の同意が確認されることが条件となります。以下同じ)は、本規約の規定に従い、本サービスを非独占的かつ非排他的に利用することができます。
      </p>
      <p>
        理由の如何を問わず、当社と利用者の本規約に基づく契約が終了した場合、利用者は本サービスを利用することはできません。
      </p>
      <h2>第3条 プライバシー</h2>
      <p>
        当サービスの<%= link_to "プライバシーポリシー", privacy_path %>は、当サービスをご使用いただく際に当社に提供された情報が、当社でどのように取り扱われるかについて説明しています。
      </p>
      <p>
        利用者は、本サービスを利用することによって、当社およびその関係会社がこれら情報を保管、処理、使用するためにこれら情報の収集および使用（プライバシーポリシーの定めに従って）に同意することを理解しているものとします。
      </p>
      <p>
        当社は取得した個人情報等について、個人を特定できない形に統計化した上で、利用･公表等を行う場合があります。
      </p>
      <h2>第4条 本サービスの目的</h2>
      <p>
        本サービスは、利用者が当社が利用を公開するソフトウェアを使って、利用者相互のコミュニケーションを図る基盤を提供することを目的としています。
      </p>
      <h2>第5条 本サービスのデータ</h2>
      <p>
        利用者は、適用される法令や規則への遵守を含め、本サービスの利用および自身が提供するデータに対して責任を負います。提供されるデータは、他の人たちと共有して差し支えのないものに限定してください。
      </p>
      <p>
        本サービスを介して交換されたデータの使用またはこれらへの依拠は、利用者の自己責任において行ってください。当社は、本サービスを介して投稿されたいかなるデータや通信内容についても、その完全性、真実性、正確性、もしくは信頼性を是認、支持、表明もしくは保証せず、また本サービスを介して表示されるいかなる意見についても、それらを是認するものではありません。
      </p>
      <p>
        利用者は、本サービスの利用により、不快、有害、不正確あるいは不適切なデータ、または場合によっては、不当表示されているデータまたはその他欺瞞的なデータ、および第三者の権利を侵害しているデータ(以下「不適切なデータ」といいます)に接する可能性があることを、理解しているものとします。すべてのデータは、そのデータの作成者が単独で責任を負うものとします。当社は、本サービスを介して交換されるデータを監視または管理することはできず、また、そのようなデータについて責任を負うこともできません。
      </p>
      <p>
        当社は不適切なデータを削除する権利を留保します。
      </p>
      <h2>第6条 利用者の権利</h2>
      <p>
        利用者は、本サービス上にまたは本サービスを介して自ら送信、投稿または表示するあらゆるデータに対する権利を留保するものとします。利用者のデータは利用者のものです。すなわち、利用者のデータの所有権は利用者にあります。
      </p>
      <p>
        利用者は、本サービス上にまたは本サービスを介してデータを送信、投稿または表示することによって、当社があらゆる媒体または配信方法（既知のまたは今後開発される方法）を使ってかかるデータを使用、コピー、複製、処理、改変、修正、公表、送信、表示および配信するための、世界的かつ非独占的ライセンス（サブライセンスを許諾する権利と共に）を当社に対し無償で許諾することになります。このライセンスによって、利用者は、当社や他の利用者に対し、ご自身のデータを世界中で閲覧可能とすることを承認することになります。利用者は、このライセンスには、当社が、コンテンツ利用に関する当社の条件に従うことを前提に、本サービスを提供、宣伝および向上させるための権利ならびに本サービスに対しまたは本サービスを介して送信されたコンテンツを他の媒体やサービスで配給、放送、配信、プロモーションまたは公表することを目的として、その他の企業、組織または個人に提供する権利が含まれていることに同意するものとします。
      </p>
      <p>
        当社は利用者に、本サービスの一環として当社が提供するソフトウェアを使用するための、個人的で世界的、譲渡不能の非独占的なライセンスを許諾します。このライセンスの唯一の目的は、利用者が当社の提供する本サービスを本規約に従った形で利用し、その恩恵を受けられるようにすることにあります。
      </p>
      <h2>第7条 本サービスの利用</h2>
      <p>
        利用者は、本規約およびすべての適用法、規約および規則を遵守する場合にのみ本サービスを利用することができます。
      </p>
      <p>
        利用者は、本サービスの妨害や当社が提供するインターフェースおよび手順以外の方法を使った本サービスへのアクセスにより、本サービスの不正利用をしないことにも同意するものとします。利用者は、本サービスへのアクセスまたはその使用中に、次のいずれも行ってはなりません。
      </p>
      <ol class="number-list">
        <li>
          本サービスのコンピュータシステム、またはテクニカルデリバリーシステムの非公開部分へのアクセス、不正な改ざんもしくは使用
        </li>
        <li>
          システムもしくはネットワークの脆弱性の探索、スキャンもしくはテスト、またはセキュリティもしくは認証方法の侵害もしくは回避
        </li>
        <li>
          当社から提供される(かつ該当する利用条件に従う場合にのみ提供される)、当社の現在利用可能な公開インターフェース以外の方法(自動プログラムか否かを問わない)で、本サービスへのアクセスもしくはその探索またはアクセスもしくは探索の試み(ただし、当社との個別契約で特に許可されている場合は除く)(注：本サービスへのクローリングは、robots.txtファイルの定めによる場合は認められていますが、当社による事前の同意がないまま本サービスのスクレイピングをすることは明示的に禁止されています）
        </li>
        <li>
          データを入力する際のプロトコル上の情報の偽造、または方法の如何を問わず、改ざんされた情報、詐欺的情報もしくは情報源を偽装した情報を送る目的での本サービスの利用
        </li>
        <li>
          他の利用者、ホストもしくはネットワークのアクセスの妨害、または遮断(もしくはその試み)(本サービスへのウィルスの送信、オーバーロード、フラッディング、スパミング、メールの大量送信、あるいは本サービスを妨害したり過度な負荷を与える方法でコンテンツの作成をスクリプトすることを含みますが、これらに限定されません)
        </li>
      </ol>
      <p>
        本サービスは、日本国と諸外国の双方の著作権法、商標法その他の法律により保護されています。本規約のいずれの内容も、利用者に対して当社の名称または当サービスの商標、ロゴ、ドメイン名、およびブランドとして特徴的なその他の要素を使用する権利を付与するものではありません。
      </p>
      <p>
        本サービス (利用者から提供されるコンテンツを除きます) に関するすべての権利、権原および利益は、当社とそのライセンサーの独占的財産であり続けます。利用者が当社または本サービスについて提供するフィードバック、意見または提案は、すべて完全に自発的なものであり、当社はこのようなフィードバック、意見または提案を、利用者に対して何ら義務を負うことなく、当社が適切であると判断する方法で、自由に利用できるものとします。
      </p>
	  
      <h2>第8条 ログインアカウント等の登録・管理</h2>
      <p>
        利用者は、本サービス等の利用にあたり用いたログインアカウント及びパスワードの登録・管理等をご自身の責任において行うものとし、利用者の管理不十分、使用上の過誤、第三者の使用等により生じた損害について、当社は一切の責任を負わないものとします。
      </p>
      <h2>第9条 利用の終了</h2>
      <p>
        利用者は、いつでもアカウントを削除し本サービスの利用を中止することにより、当社との法的契約を終了することができます。
      </p>
      <p>
        当社は、
      </p>
      <ol class="number-list">
        <li>利用者が本規約に違反している</li>
        <li>利用者が当社にリスクまたは法的責任の可能性をもたらす</li>
        <li>不法行為により利用者のアカウントの削除が必要となった</li>
        <li>利用者の長期的不活動によりアカウントの削除が必要となった</li>
        <li>裁判所等から正当な手続きを経て利用の停止を要求された</li>
      </ol>
      <p>
        場合、あるいは当社による利用者への本サービスの提供が商業的に困難となった（ただし、これらに限定されません）と、当社が合理的に確信した場合、理由の如何を問わず、または理由なく、いつでも利用者のアカウントを一時停止もしくは削除するか、本サービスの全部または一部の提供を終了することができます。かかる状況になった場合、当社は、状況に応じ、利用者のアカウントに関連するメールアドレスに通知を送るか、あるいは利用者が次にアカウントにアクセスを試みる際に通知をするための合理的努力を行います。
      </p>
      <p>
        上記のいずれの場合においても、本規約は、利用者が本サービスを利用するためのライセンスとともに終了します。
      </p>
      <p>
        なお、当社の都合で本サービス等を変更、中断、停止または終了したことにより、お客様または第三者が損害を受けたとしても、当社に故意又は重過失が存するか、消費者契約法に違反しない限り、当社は一切の補償はいたしません。
      </p>
      <h2>第10条 免責事項</h2>
      <p>
        本サービスの利用は、お客様ご自身の責任において利用するものとし、以下の各号につき予めご了承いただくものとします。
      </p>
      <ol class="number-list">
        <li>利用者が記録した情報
          <p>
            当社は、利用者が本サービス等を用いて記録したデータを確実に保存することを保証しません。利用者は本サービス等を通じて情報を記録する際に、バックアップ保存等の手段を用いて当該情報の消失に備えるものとします。当社は、本アプリケーションのため、独自のバックアップ手段を提供致しません。当社は、利用者が記録した情報の全部または一部が消失した場合でも、当社に故意又は重過失が存するか、消費者契約法に違反しない限り、一切の責任を負わないものとします。
          </p>
        </li>
        <li>動作保証の不存在
          <p>
            当社は、本サービス等の動作保証、使用端末への適合性等についていかなる保証もいたしません。本サービス等の利用により利用者に生じたいかなる損失又は損害についても、当社に故意又は重過失が存するか、消費者契約法に違反しない限り、一切の責任を負わないものとします。
          </p>
        </li>
      </ol>
      <h2>第11条 一般条件</h2>
      <ol class="number-list">
        <li>
          当社は、本規約について､必要に応じて全部または一部を変更する場合があります｡この際，変更が利用者の一般の利益に適合し、又は、変更が、本規約の目的に反せず、変更の必要性及び変更後の内容の相当性が認められる場合には、あらかじめ、変更後の本規約及び効力発生時期（少なくとも30日以上前）について、本サービスのウェブサイトで周知することで本規約を変更するとします。
        </li>
        <li>
          本規約の変更が前項の要件を満たさない場合には、変更後の本規約の適用について、変更箇所を示した上で、再度、お客様の個別の同意を得ることとします。
        </li>
        <li>
          本規約の改定は溯って適用されることはありません。
        </li>
        <li>
          本規約のいずれかの規定が無効あるいは法的強制力がないと判断された場合、その規定は必要最小限の範囲で制限されるかまたは失効しますが、本規約中のその他の規定は引き続き完全な効力と効果を維持するものとします。当社が本規約のいずれかの権利または規定を行使しない場合にも、これをもってその権利または規定が放棄されたとはみなされません。
        </li>
        <li>
          本規約は、日本および利用者の所属する国の法に基づき解釈されるものとし、本規約に関して訴訟の必要が生じた場合には、東京地方裁判所を第一審の専属的合意管轄裁判所とします。
        </li>
      </ol>
	  <dl>
		<dt>制定</dt>
		<dd>2020年8月15日</dd>
		<dt>許諾者</dt>
		<dd>
		  <ul class="list" style="padding-inline-start:0px;">
			<li>東京都台東区台東2-31-8 ビクトリービル 6F</li>
			<li>WASP株式会社</li>
			<li>代表取締役 生越昌己</li>
		  </ul>
		</dd>
	  </dl>
	</div>
  </div>
</div>
<% end %>
