<% content_for :body do %>
<style>
</style>
<div class="container-fluid">
  <div class="row">
	<div class="jumbotron col-sm-9 text" style="margin-top:20px;">
	  <h1 class="display-4">Nestlyの用語</h1>
	  <p>
		Nestlyの説明を理解するには、以下の単語が鍵となります。
	  </p>
	  <hr class="my-4">
	  <dl>
		<dt>ネスト(nest)</dt>
		<dd>
		  <p>
			活動の拠点は「ネスト(nest)」と呼びます。「ネスト(nest)」は「巣」とか「隠れ家」というような意味です。
		  </p>
		  <p>
			Nestlyの会員は、同じアカウント複数のネストに所属出来ます。なお、会員がどこのネストに所属しているかといった情報は、一切公開されません。
		  </p>
		</dd>
		<dt>ネストのメンバー</dt>
		<dd>
		  <p>
			ネストには構成員としての「メンバー」が所属します。メンバーには「(ネストの)オーナー」「管理者」「一般メンバー」の区別があります。「オーナー」と「管理者」はネストの管理のための特権を有します。
		  </p>
		</dd>
		<dt>スペース(space)</dt>
		<dd>
		  <p>
			「ネスト」にはいくつかの「スペース(space)」があります。「スペース」は概念的には「小部屋」のようなものです。コミュニティやサークルで言えば、「グループ」や「チーム」あるいは「委員会」といった感じの単位で所有する「場」です。
		  </p>
		  <p>
			現在のところ、「スペース」は「掲示板」そのものですが、将来「予定表」や「写真集」といったような機能を実現する予定です。
		  </p>
		</dd>
		<dt>エントリ(entry)</dt>
		<dd>
		  <p>
			スペースに置かれるものです。「スペース」が「掲示板」であることに倣えば、「記事」です。
		  </p>
		</dd>
		<dt>コメント(comment)</dt>
		<dd>
		  <p>
			エントリにはコメントを書くことができます。コメントには、さらにコメントを書くこともできます(つまりスレッドが存在しています)
		  </p>
		  <p>
			コメントは永続的な連番が付与されています。コメントが削除された場合その痕跡が残り、連番が詰められることはありません。
		  </p>
		</dd>
		<dt>ワッチ(watch)</dt>
		<dd>
		  <p>
			スペースにエントリが追加されたりエントリにコメントが追加されたことを通知させるために、「ワッチ(watch)」が設定できます。
		  </p>
		  <p>
			「ワッチ」しているスペースやエントリに動きがあった場合、その内容が「通知用」に設定したメールアドレス宛にメールされます。
		  </p>
		</dd>
	  </dl>
	</div>
  </div>
</div>
<% end %>
