<div class="card" style="margin-bottom:20px;">
  <div class="card-header">
	<span class="title"><%= t('nests.admin')%></span>
  </div>
  <div class="card-body">
	<div class="row">
	  <div class="col-sm-3">
		<%= icon_img_tag @nest.owner, "header", class: "icon-image" %>
	  </div>
	  <div class="col-sm-9">
		<%= @nest.owner_name %>
	  </div>
	</div>
  </div>
</div>
