<div class="card" style="margin-bottom:20px;">
  <div class="card-body">
	<ul>
	  <li><%= Nest::PublicationLevel::TYPES.rassoc(@nest.publication_level)[0] %></li>
	  <li><%= Nest::JoinMethod::TYPES.rassoc(@nest.join_method)[0] %></li>
	</ul>
	<div>
	  <%= str_to_html @nest.description || "" %>
	</div>
  </div>
</div>
