<% content_for :header do %>
<% end %>
<% content_for :body do %>
<style>
.card-header {
  background: #fff;
}
</style>
<div class="container-fluid">
  <div class="row">
	<div class="junbotron">
	  <h1 class="display-4">御協力ありがとうございました</h1>
	  <p class="lead">
	  </p>
	  <hr class="my-4">
	</div>
  </div>
</div>
<% end %>
