<meta charset="utf-8">
<meta name="viewport" content="width=device-width,user-scalable=no">
<title><%= content_for?(:title) ? yield(:title) : "Device Console" %></title>
<meta name="keywords" content=""> 
<meta name="description" content="">
<link rel="canonical" href="http://device-console.com:3000">
<!-- share/head -->
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<!--meta name="viewport" content="width=device-width, initial-scale=1.0" -->
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= javascript_pack_tag 'adminlte' %>
<!-- share/head -->
